<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuint.repository.mapper.MtHealthRecordMapper">

    <select id="queryByUserId" resultType="com.fuint.repository.model.MtHealthRecord">
        SELECT * 
        FROM mt_health_record t 
        WHERE t.USER_ID = #{userId} 
          AND t.STATUS = 'A' 
        ORDER BY t.CHECKUP_DATE DESC, t.CREATE_TIME DESC
    </select>

    <select id="queryLatestByUserId" resultType="com.fuint.repository.model.MtHealthRecord">
        SELECT * 
        FROM mt_health_record t 
        WHERE t.USER_ID = #{userId} 
          AND t.STATUS = 'A' 
        ORDER BY t.CHECKUP_DATE DESC, t.CREATE_TIME DESC 
        LIMIT 1
    </select>

</mapper>
